<div id="main-content" class="container maincontent-container">

  <div id="manageMsg" class="alert {{#if isAlert}} alert-danger {{else}} alert-info {{/if}}
    {{#unless message}} hide {{/unless}}">
    {{message}}
  </div>

  {{>organization_view}}

</div>