<select name="stage" id="stage" class="form-control">
  <option value="ScopingPreparation" {{#equalsTo stage 'ScopingPreparation'}}selected {{/equalsTo}}>Scoping &
    Preparation
  </option>
  <option value="RegistrationandQA" {{#equalsTo stage 'RegistrationandQA'}}selected {{/equalsTo}}>Solution Submission and Q&A
  </option>
  <option value="EligibilityCheck" {{#equalsTo stage 'EligibilityCheck'}}selected {{/equalsTo}}>Eligibility Check
  </option>
  <option value="AssessmentPreparation" {{#equalsTo stage 'AssessmentPreparation'}}selected {{/equalsTo}}>Assessment
    Preparation
  </option>
  <option value="UserAssessment" {{#equalsTo stage 'UserAssessment'}}selected {{/equalsTo}}>User Assessment</option>
  <option value="Complete" {{#equalsTo stage 'Complete'}}selected {{/equalsTo}}>Complete</option>
</select>