<div class="jivango-jumbotron jumbotron">
  <div id="splash-bg">
    <div id="splash-cover">
      <div id="splash-info">
        <div id="splash-title" class="text-center">{{{strings.JumboTron.Title}}}</div>

        <div id="splash-caption">
          {{{strings.JumboTron.Caption}}}
        </div>

        <p style="text-align: center;position:relative;margin:0 auto auto;">
          <a style="text-decoration:none;" href="/join">
            <span class="splash-btn yellow-borders">
              <span class="registerNow" style="color:#FFF;">{{{strings.JumboTron.Buttons.Join}}}</span>
            </span>
          </a>&nbsp;
          <a href="/faq">
            <span class="splash-btn yellow-borders">
              <span href="/faq" style="color:#FFF;">{{{strings.JumboTron.Buttons.Learn}}}</span>
            </span>
          </a>
        </p> &nbsp;
      </div>
      <!-- end splash Info -->
    </div>
    <!-- end splashDiv -->
  </div>
  <!-- end splashBackground -->
</div>