<div id="main-content" class="container maincontent-container">
  <div id="signupCreateUserForm">
    <form id="signupForm" action="/join/organization" method="post">
    {{> message}}
      {{> join/new_organization_type}}
      {{> join/new_organization_field_entry_without_roles}}
      {{> join/new_organization_poc_fields}}
    </form>

  </div>
</div>

{{#contentFor "pageScripts"}}
  <script type="application/javascript" src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/js/new-organization.js"></script>
{{/contentFor}}
