/*
 * AdminLTE Skin for Jivango
 * ---------
 */
.skin-jiv-light .main-header .navbar {
  background-color: #dd4b39;
  background-color: #000;
    background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
}
.skin-jiv-light .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-jiv-light .main-header .navbar .nav > li > a:hover,
.skin-jiv-light .main-header .navbar .nav > li > a:active,
.skin-jiv-light .main-header .navbar .nav > li > a:focus,
.skin-jiv-light .main-header .navbar .nav .open > a,
.skin-jiv-light .main-header .navbar .nav .open > a:hover,
.skin-jiv-light .main-header .navbar .nav .open > a:focus,
.skin-jiv-light .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-jiv-light .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-jiv-light .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-jiv-light .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-jiv-light .main-header .navbar .sidebar-toggle:hover {
  background-color: #d73925;
    background-color: #000;
}
@media (max-width: 767px) {
  .skin-jiv-light .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-jiv-light .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-jiv-light .main-header .navbar .dropdown-menu li a:hover {
    background: #d73925;
      background: #000;
  }
}
.skin-jiv-light .main-header .logo {
  background-color: #dd4b39;
  background-color: #000;
    background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-jiv-light .main-header .logo:hover {
  background-color: #dc4735;
  background-color: #000;
}
.skin-jiv-light .main-header li.user-header {
  background-color: #dd4b39;
  background-color: #000;
}
.skin-jiv-light .content-header {
  background: transparent;
  padding: 15px 20px 0 15px;
}
.skin-jiv-light .content-header h1 {
  margin-right: 140px;
}
.skin-jiv-light .content-header .actions {
  margin-top: -25px;
}
.skin-jiv-light .main-sidebar {
    padding-top: 17px;
}
.skin-jiv-light .content-wrapper {
    padding-top: 17px;
}
.skin-jiv-light .wrapper, 
.skin-jiv-light .main-sidebar,
.skin-jiv-light .left-side,
.skin-jiv-light .content-wrapper {
  background-color: #fff;
}
@media ( max-width: 768px ) {
    .skin-jiv-light .main-sidebar,
    .skin-jiv-light .content-wrapper {
        margin-top: 20px;
    }
    .skin-jiv-light .main-sidebar {
        position: fixed;
    }
}
@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .main-sidebar {
        position: fixed;
        left: auto;
        top: 50px;
    }
}
@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .sidebar-menu>li:hover>.treeview-menu {
    top: auto;
    }
}
.skin-jiv-light .main-sidebar .sidebar {
    position: fixed;
/*    top: 67px;*/
    width: 230px;
    top: 67px;
}
@media ( max-width: 768px ) {
    .skin-jiv-light .main-sidebar .sidebar {
        top: 16px;
    }  
}
@media (max-width: 979px) {
    .skin-jiv-light .main-sidebar .sidebar {
        top: 66px;
    }
}
.skin-jiv-light .content-wrapper,
.skin-jiv-light .main-footer {
  border-left: 1px solid #d2d6de;
}
.skin-jiv-light .user-panel > .info,
.skin-jiv-light .user-panel > .info > a {
  color: #444444;
}
.skin-jiv-light .sidebar-menu > li {
  -webkit-transition: border-left-color 0.3s ease;
  -o-transition: border-left-color 0.3s ease;
  transition: border-left-color 0.3s ease;
}
.skin-jiv-light .sidebar-menu > li.header {
  color: #848484;
  background: #f9fafc;
}
.skin-jiv-light .sidebar-menu > li > a {
  border-left: 3px solid transparent;
  font-weight: 600;
}
.skin-jiv-light .sidebar-menu > li:hover > a,
.skin-jiv-light .sidebar-menu > li.active > a {
  color: #000000;
  background: #f4f4f5;
}
.skin-jiv-light .sidebar-menu > li.active {
  border-left-color: #dd4b39;
}
.skin-jiv-light .sidebar-menu > li.active > a {
  font-weight: 600;
}
.skin-jiv-light .sidebar-menu>li .label, .sidebar-menu>li .badge {
    margin-right: 10px;
    padding: .2em .4em .3em;
}
.skin-jiv-light .sidebar-menu > li > .treeview-menu {
    background-color: #f6f9f6;
}
.skin-jiv-light .sidebar-menu .treeview-menu>li>a::before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 8px;
    display: inline-block;
    text-decoration: inherit;
    content: "\f096";
    color: #97a0b3;
    margin-right: 13px;
    position: relative;
    bottom: 2px;
}
.skin-jiv-light .sidebar-menu .treeview-menu>li.active>a::before {
    color: #dd4b39;
    content: "\f0c8";
}
.skin-jiv-light .sidebar a {
  color: #444444;
}
.skin-jiv-light .sidebar a:hover {
  text-decoration: none;
}
.skin-jiv-light .treeview-menu > li > a {
  color: #777777;
  font-size: 12px;
}
.skin-jiv-light .treeview-menu > li.active > a,
.skin-jiv-light .treeview-menu > li > a:hover {
  color: #000000;
}
.skin-jiv-light .treeview-menu > li.active > a {
  font-weight: 600;
}
.sidebar-menu li > a > .fa-angle-right {
  width: auto;
  height: auto;
  padding: 0;
}
.sidebar-menu li.active > a > .fa-angle-right {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}
.sidebar-menu .treeview-menu > li > a > .fa-angle-right,
.sidebar-menu .treeview-menu > li > a > .fa-angle-down {
  width: auto;
}
.skin-jiv-light .sidebar-form {
  border-radius: 3px;
  border: 1px solid #d2d6de;
  margin: 10px 10px;
}
.skin-jiv-light .sidebar-form input[type="text"],
.skin-jiv-light .sidebar-form .btn {
  box-shadow: none;
  background-color: #fff;
  border: 1px solid transparent;
  height: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.skin-jiv-light .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-jiv-light .sidebar-form input[type="text"]:focus,
.skin-jiv-light .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-jiv-light .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-jiv-light .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
@media (min-width: 768px) {
  .skin-jiv-light.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
    border-left: 1px solid #d2d6de;
  }
}
/* JIVANGO overwrites --------------------------------------------------------*/
body.skin-jiv-light {
    margin-bottom: 40px;
}
body.skin-jiv-light,
body.skin-jiv-light p,
body.skin-jiv-light .btn-group-xs>.btn, body.skin-jiv-light .btn-xs {
    font-size: 12px;
}
.skin-jiv-light h1, .skin-jiv-light h2, .skin-jiv-light h3, .skin-jiv-light h4, .skin-jiv-light h5 {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
    color: #333;
}
.skin-jiv-light h2 {
    font-size: 20px;
}
.skin-jiv-light .navbar-inverse {
    background-image: -webkit-linear-gradient(top,#3c3c3c 0,#222 100%);
    background-image: -o-linear-gradient(top,#3c3c3c 0,#222 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#3c3c3c),to(#222));
    background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    background-repeat: repeat-x;
    z-index: 851;
}
.skin-jiv-light .navbar-inverse .navbar-brand, 
.skin-jiv-light .navbar-inverse .navbar-nav>li>a {
}
.skin-jiv-light .navbar.navbar-fixed-top {
    font-size: 14px;
}
@media (min-width: 1200px) {
    .skin-jiv-light .navbar.navbar-fixed-top .container,
    .skin-jiv-light .footer .container {
        width: 1250px;
        padding-left: 0px;
    }
}
.skin-jiv-light .navbar.navbar-toggle {
    position: fixed;
    top: 50px;
    padding: 5px 15px;
    background-color: #fff;
    color: #000;
    border-radius: 0;
    z-index: 811;
    min-height: 30px;
    font-size: 18px;
    border-bottom: 1px solid #d2d6de;
}
.skin-jiv-light .navbar.navbar-toggle:hover {
    background-color: #f6f9f6;
}
.skin-jiv-light .navbar.navbar-toggle a {
    color: #000;
}
.skin-jiv-light .breadcrumb {
    border: none;
    display: none;
}
.skin-jiv-light .sidebar {
    padding-right: 0;
    padding-left: 0;
}
@media only screen and (max-width: 979px) {
    .skin-jiv-light .sidebar {
         border-bottom: none; 
    }
}
.skin-jiv-light .content-header.adjusted {
    margin-top: 0;
}
.skin-jiv-light .alert {
    padding: 15px 35px 10px 15px;
}
.skin-jiv-light .alert h4, .skin-jiv-light .alert p {
    color: #fff;    
}
.skin-jiv-light .alert h4 {
    font-size: 14px;
    line-height: 1.5;
}
.skin-jiv-light .alert p {
    margin-left: 25px;
}
.skin-jiv-light .alert ul {
    margin-bottom: 10px;
}
.skin-jiv-light .well {
    border: 1px solid #e3e3e3;
    margin-bottom: 10px;
}
.skin-jiv-light .modal h1 .icon.icon-warning-o,
.skin-jiv-light .modal h1 .fa {
    font-size: 100px;
    color: #6d6e70;
}
.skin-jiv-light .modal h1 .fa {
    font-size: 80px;
}
.skin-jiv-light .modal .form-inline .radio,.skin-jiv-light .modal .form-inline .checkbox {
    margin-left: 5px;
}
.skin-jiv-light table td .label {
    padding: .2em .7em .3em;
    line-height: 2.4;
}
/* Turn on tooltips for disabled buttons -------------------------------------*/
/*a.btn[disabled] { pointer-events: all; }*/
.btn[disabled] { pointer-events: all; }
/* CK Editor fixing the border color -----------------------------------------*/
.skin-jiv-light .cke_chrome {
    border-color: #d2d6de !important;
    box-shadow: none !important; 
}
.skin-jiv-light .cke_focus {
    border: 1px solid #f16521 !important;
}
/* AdminLTE overwrites & additions -------------------------------------------*/
.connectedSortable {
    min-height: 10px;
}
.bg-orange {
    background-color: #f16521 !important;
}
.form-control:focus {
    border-color: #f16521;
}
.layout-boxed {
    background: none;
    background-color: #f6f9f6;
}
.layout-boxed .wrapper {
    box-shadow: none;
    margin-top: 0;
    background-color: #f6f9f6;
}
@media ( max-width: 768px ) {
    .layout-boxed .wrapper {
        margin-top: 0;
    }
}
.skin-jiv-light .sidebar-menu > li:hover > a, 
.skin-jiv-light .sidebar-menu > li.active > a {
    background: #f6f9f6;
    width: 100%;
    border-left: 3px solid #444444;
}
.skin-jiv-light .sidebar-menu > li.active > a {
    border-left: 3px solid #dd4b39;
}
.skin-jiv-light .sidebar-menu > li:hover.active > a {
    border-left: 3px solid #444444;
}
.skin-jiv-light .sidebar-menu>li.sidebar-toggle a {
    position: relative;
    border: none;
    border-top: 1px solid #d2d6de;
    border-bottom: 1px solid #d2d6de;
    min-height: 36px;
}
.sidebar-menu li .hover-text {
    z-index: 1000;
    position: absolute;
    width: 110px;
    height: 20px;
    right: -122px;
    top: 8px;
    text-align: center;
    opacity: 0;
    display: block;
    transition: opacity .4s ease;
    background-color: #6d6e70;
    color: #fff;
    padding: 2px 0;
    border-radius: 0 2px 2px 0;
}
.sidebar-menu li .hover-text::after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 0, 0, 0);
	border-right-color: #6d6e70;
	border-width: 10px;
	margin-top: -10px;
}
.skin-jiv-light .sidebar-menu>li .caret-icon {
    position: absolute;
    top: 8px;
    right: 20px;
    font-size: 12px;
    z-index: 0;
}
.skin-jiv-light .sidebar-menu>li .caret-icon a {
    color: #dd4b39;
}
.skin-jiv-light .sidebar-menu>li>a.inactive {
    cursor: default;
    color: #d2d6de;
}
.skin-jiv-light .sidebar-menu > li:hover > a.inactive {
    border-left: 3px solid #fff;
    background-color: #fff;
}
@media (min-width: 768px) {
    .sidebar-mini.sidebar-collapse .sidebar-menu>li {
        width: 50px;
    }
}
@media (max-width: 768px) {
    .sidebar-mini.sidebar-collapse .main-sidebar {
        top: 0;
    }
}
.skin-jiv-light .content-wrapper {
    background-color: #f6f9f6;
}
.skin-jiv-light .content-header>h1, .skin-jiv-light .content-header>p {
    margin-left: 5px;
}
.skin-jiv-light .content-header>h1>small {
    font-size: 20px;
    padding-left: 2px;
    font-weight: 400;
    color: #333;
}
.skin-jiv-light .content-header>h1>small:last-of-type {
    color: #d76e3b;
}
.skin-jiv-light .content-header>h1>small::before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    content: "\f105";
    color: #97a0b3;
    margin-right: 5px;
}
.skin-jiv-light .content-header>h2 {
    margin-left: 5px;
    margin-top: 10px;
}
.skin-jiv-light .content-header>h2>span {
    padding: 3px 8px 5px 8px;
    background-color: #d76e3b;
    color: #fff;
}
.skin-jiv-light .content-header>p {
    margin-bottom: .8em;
}
.skin-jiv-light .content-header>p:first-of-type {
    margin-top: 1.2em;
}
.skin-jiv-light .empty-state {
    margin-top: 50px;
    padding-bottom: 100px;
}
.skin-jiv-light .empty-state h3 {
    color: #999;
    font-size: 16px;
    line-height: 1.5625;
    margin: 30px 0 0 0;
}
.skin-jiv-light .empty-state .fa {
    font-size: 60px;
    padding: 25px;
    border: 2px dashed #eaeaea;
    border-radius: 4px;
    color: #eaeaea;
}
.skin-jiv-light .no-image .fa {
    font-size: 50px;
    padding: 15px 20px;
    border: 2px dashed #eaeaea;
    border-radius: 4px;
    color: #eaeaea;
}
.skin-jiv-light .file-uploader {
    padding: 25px;
    border: 2px dashed #eaeaea;
}
/* DATA TABLES OVERWRITES --------------------------------------------------- */
div.dataTables_filter label {
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
    padding-right: 10px;
    margin-bottom: 0;
    padding-bottom: 5px;
}
div.dataTables_filter input {
    margin-left: 0.5em;
    margin-right: -10px;
}
.skin-jiv-light .box .form-control-feedback.glyphicon-search {
    display: none;
}
.skin-jiv-light .box .dataTables_filter input.form-control {
    border-radius: 0;
    min-width: 250px;
}

/* COLORS ------------------------------------------------------------------- */
.bg-black       { background-color: #6d6e70 !important; }
.bg-blue        { background-color: #1b3660 !important; }
.blue           { color: #1b3660 !important; }
.bg-purple      { background-color: #5e3d6d !important; }
.purple         { color: #5e3d6d !important; }
.bg-teal        { background-color: #57bbb7 !important; }
.teal           { color: #57bbb7 !important; }
.bg-red         { background-color: #91283b !important; }
.red            { color: #91283b !important; }
.bg-green       { background-color: #4c7c5d !important; }
.green          { color: #4c7c5d !important; }
.bg-orange      { background-color: #d76e3b !important; }
.orange         { color: #d76e3b !important; }
.bg-clear       { background-color: none !important; color: #6d6e70 !important; border: 1px dotted #6d6e70 !important; }
/* LABEL & BUTTON COLORS ---------------------------------------------------- */
.filters {
    font-size: 11px;
    display: inline;
    float: left;
    padding-left: 5px;
}
.filters label .fa {
    margin: auto;
    text-align: center;
    padding-top: 5px;
    font-size: 14px;
}
.filters label.everything:hover,
.filters label.everything.checked {
    color: #000;
}
.filters label.organizations:hover,
.filters label.organizations.checked {
    color: #5e3d6d;
}
.filters label.capabilities:hover,
.filters label.capabilities.checked {
    color: #4c7c5d;
}
.filters label.problems:hover,
.filters label.problems.checked {
    color: #91283b;
}
.filters label.news:hover,
.filters label.news.checked {
    color: #57bbb7;
}
.box.newsfeed .tags .btn,
#trendingModal .tags .btn,
.problems .tags .btn {
    background-color: #f6f9f6;
    border: 1px solid #aeaeae;
    color: #404041;
    padding: 1px 4px;
    margin-right: 1px;
    margin-bottom: 4px;
}
.box.newsfeed .tags .btn:hover,
#trendingModal .tags .btn:hover,
.box.problems .tags .btn:hover {
    cursor: default;
}
.actions .btn {
    margin-top: 3px;
    margin-right: 3px;
}
.actions .btn-default {
    border: 1px solid #6d6e70;
}
.actions .btn-primary {
    background-color: #d76e3b;
    border: 1px solid #ef4722;
    color: #fff !important;
    transition: background-color .4s ease;
}
.actions .btn-primary:hover {
    background-color: #ef4722;
    color: #fff;
}
.actions .btn-warning {
    background-color: #ed981d;
    border: 1px solid #e08e0b;
    color: #fff !important;
    transition: background-color .4s ease;
}
.actions .btn-warning:hover {
    background-color: #f0ad4e;
    color: #fff;
}
.actions .btn-info {
    background-color: #67a3a3;
    border: 1px solid #0494a3;
    color: #fff !important;
    transition: background-color .4s ease;
}
.actions .btn-info:hover {
    background-color: #66aec0;
    color: #fff;
}
.actions .btn-default[disabled] {
    background-color: gray;
}
.actions.pull-right {
    margin-bottom: 5px;
}
.actions .btn .label {
    padding: .1em .4em;
}
.actions.pull-right a.panel-tooltip {
    color: #97a0b3;
    font-size: 16px;
    top: 2px;
    position: relative;
    margin-left: 5px;
}
.crop-wrapper .crop a {
    background: none;
}
/* GENERAL WIDGET style overwrites ------------------------------------------ */
.box {
    box-shadow: 0 0px 1px rgba(0,0,0,0.3);
}
.box.box-orange, .nav-tabs-custom>.nav-tabs>li.active {
    border-top-color: #f16521;
}
.box-header>.fa, .box-header>.glyphicon, .box-header>.ion, .box-header .box-title {
    font-size: 14px;
}
.box-header>.box-tools {
    top: 9px;
    font-size: 11px;
}
.box-header>.box-tools a.btn {
    color: #97a0b3;
}
.box .btn.btn-box-tool .fa,
.box .btn.btn-box-tool .icon {
    font-size: 16px;
    position: absolute;
    top: -3px;
    right: 0;
    padding-left: 5px;
}
.box .box-tools.actions .btn {
    margin-top: 0;
    margin-right: 5px;
    margin-left: 5px;
}
.box .box-tools .checkbox-inline, .box .box-tools .radio-inline,
.box .filters .checkbox-inline, .box .filters .radio-inline,
.tab-pane .filters .checkbox-inline, .tab-pane .filters .radio-inline {
    padding-left: 10px;
}
.box .box-tools .checkbox-inline:last-of-type,
.box .box-tools .radio-inline:last-of-type,
.box .filters .checkbox-inline:last-of-type,
.box .filters .radio-inline:last-of-type,
.tab-pane .filters .checkbox-inline:last-of-type,
.tab-pane .filters .radio-inline:last-of-type {
    margin-right: 10px;
}
.box .box-tools .checkbox-inline,
.box .filters .checkbox-inline,
.tab-pane .filters .checkbox-inline {
    margin-left: 10px;
}

.box .box-tools .checkbox input[type=checkbox], 
.box .box-tools .checkbox-inline input[type=checkbox], 
.box .box-tools .radio input[type=radio], 
.box .box-tools .radio-inline input[type=radio],
.box .filters .checkbox input[type=checkbox], 
.box .filters .checkbox-inline input[type=checkbox], 
.box .filters .radio input[type=radio], 
.box .filters .radio-inline input[type=radio],
.tab-pane .filters .checkbox input[type=checkbox], 
.tab-pane .filters .checkbox-inline input[type=checkbox], 
.tab-pane .filters .radio input[type=radio], 
.tab-pane .filters .radio-inline input[type=radio] {
    left: 15px;
    top: -3px;
}
.box .box-tools .filter-dropdown,
.box .filters .filter-dropdown,
.tab-pane .filters .filter-dropdown {
    margin-left: 0;
    display: inline-block;
}
.box .box-tools .filter-toggle .checkbox-inline, 
.box .box-tools .filter-toggle .radio-inline,
.box .filters .filter-toggle .checkbox-inline, 
.box .filters .filter-toggle .radio-inline,
.tab-pane .filters .filter-toggle .checkbox-inline, 
.tab-pane .filters .filter-toggle .radio-inline {
    margin-left: 15px;
    padding-left: 12px;
}
.box-header>.box-tools.pull-right>.filter-toggle .dropdown-menu,
.box-header>.filters.pull-right>.filter-toggle .dropdown-menu {
    padding-bottom: 10px;
}
.nav-tabs-custom>.nav-tabs>li.header {
    font-size: 14px;
}
.nav-tabs-custom>.nav-tabs>li>a {
    color: #444;
}
.box-header>.row {
    margin: 15px 0 -20px 0;
}
.box-header>.row .form-group {
    margin-bottom: 0;
}
.box .box-body {
    overflow-x: hidden;
    height: calc(100% - 39px);
}
.box .tags .btn {
    margin-right: 1px;
    margin-bottom: 4px;
    font-size: 12px;
    padding: 2px 5px;
}
/* TIMELINE LIST VIEW WITHOUT THE LINE ON THE LEFT -------------------------- */
.timeline.no-line {
    margin-bottom: 0;
}
.timeline.no-line:before {
    display: none;
}
.timeline.no-line>li {
    margin-right: 0;
    margin-bottom: 10px;
}
.timeline.no-line>li:last-of-type {
     margin-bottom: 0; 
}
.timeline.no-line>li>.timeline-item {
    margin-left: 0;
    margin-right: 0;
}
.timeline.no-line>li>.timeline-item .time a {
    color: #97a0b3;
}
.timeline.no-line>li .dates, .timeline.no-line>li .description {
    color: #6d6e70;
}
/* MAIN DASHBOARD PAGE ------------------------------------------------------ */
/* SMALL WIDGET Row --------------------------------------------------------- */
.sm-widgets .box {
    height: 250px;
}
.sm-widgets .box .box-footer {
    height: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
/* CONVERSATIONS SMALL WIDGET ----------------------------------------------- */
.box.conversations .box-body div {
    width: 50%;
    height: 80%;
    float: left;
    text-align: center;
    padding-top: 15px;
}
.box.conversations .box-body div.circle {
    background-color: #f4f4f4;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    margin: auto;
    font-size: 34px;
    float: none;
    padding-top: 18px;
    font-weight: 900;
    font-family: 'Lato', Helvetica, Arial, sans-serif !important;
}
.box.conversations .box-body div .fa {
    font-size: 34px;
    text-align: center;
    position: relative;
    top: -20px;
    padding: 0 4px;
    margin-bottom: -20px;
    color: #f16521 !important;
    border-radius: 20px;
}
.box.conversations .box-body div p {
    margin-top: -15px;
}
.box.conversations .box-body .empty-state {
    width: 100%;
    padding-top: 0;
    text-align: center;
    margin-top: 0;
}
.box.conversations .box-body .empty-state img {
    height: 100px;
    margin-bottom: 15px;
}
.box.conversations a.disabled {
    color: #999;
    cursor: default;
}
/* SEARCH SMALL WIDGET ------------------------------------------------------ */
.box.search {
    overflow: hidden;
}
.box.search .icon.icon-telescope {
    color: #f4f4f4;
    font-size: 110px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
}
.box.search .input-group {
    position: relative;
    top: 25%;
}
.box.search .form-control {
    border-color: #d76e3b;
    background-color: #f4f4f4;
    transition: background-color .4s ease;
}
.box.search .form-control:focus {
    border-color: #ef4722;
    background-color: #fff;
}
.box.search .btn-primary {
    background-color: #d76e3b;
    border: 1px solid #ef4722;
    color: #fff;
    transition: background-color .4s ease;
}
.box.search .btn-primary:hover {
    background-color: #ef4722;
    color: #fff;
}
/* TRENDING SMALL WIDGET & MODAL -------------------------------------------- */
.box.trending .box-body.tags .btn-default {
    background-color: #dce0e5;
    border: 1px solid #d2d6de;
    color: #404041;
    transition: background-color .2s ease;
}
.box.trending .box-body.tags .btn-default:hover {
    background-color: #6d6e70;
    border: 1px solid #6d6e70;
    color: #fff;
}
.box.trending .box-body.tags .btn-default .badge {
    background-color: #a7a7a7;
}
#trendingModal .modal-header {
    padding-bottom: 3px;
    min-height: 85px;
}
#trendingModal .modal-header .btn-xs {
    font-size: 18px;
    cursor: default;
    display: block;
    float: none;
}
#trendingModal .modal-header .filters {
    margin-top: 10px;
}
#trendingModal .modal-header .filters .radio-inline {
    padding-left: 2px;
    margin-right: 8px;
}
#trendingModal .modal-header .filters .form-group {
    display: inline-block;
}
#trendingModal .timeline {
    margin-bottom: -10px;
}
#trendingModal .timeline::before {
    display: none;
}
#trendingModal .timeline>li>.timeline-item {
    margin-left: 45px;
    margin-right: 20px;
}
#trendingModal .timeline>li>.fa {
    z-index: 850;
}
#trendingModal .timeline .tags .btn.highlighted {
    background-color: #d2d6de;
    color: #404041;
}
/* NEWSFEED WIDGET ---------------------------------------------------------- */
.box.newsfeed {
    min-height: 300px;
}
.box.newsfeed .box-body {
    overflow-x: visible;
}
.box.newsfeed .box-tools .radio-inline {
    margin-top: -4px;
    margin-right: -10px;
}
.box.newsfeed .box-tools .radio-inline:last-of-type {
    margin-right: 10px;
}
@media only screen and (max-width : 768px) {
    .box.newsfeed .box-header {
        height: 80px;
    }
    .box.newsfeed .box-header .filters {
        margin-top: 20px;
        text-align: left;
    }
    .box.newsfeed .box-header>.box-tools {
        right: auto;
        left: 0;
    }
    .box.newsfeed .box-tools .filter-dropdown {
        float: left;
    }
    .filters .filter-dropdown {
        margin-top: 5px;
    }
}
.timeline>.time-label>span {
    font-size: 10px;
    padding: 4px 6px;
}
.timeline>li.load-more>a .fa {
    width: 30px;
    height: 30px;
    font-size: 15px;
    line-height: 30px;
    position: absolute;
    color: #666;
    background: #d2d6de;
    border-radius: 50%;
    text-align: center;
    left: 18px;
    top: 0;
}
.timeline>li>.fa, .timeline>li>.glyphicon, .timeline>li>.ion {
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 34px;
    background: #fff;
    left: 13px;
    top: 30%;
}
.timeline li .hover-text {
    z-index: 1000;
    position: absolute;
    width: 80px;
    height: 20px;
    left: -78px;
    top: 40%;
    text-align: center;
    opacity: 0;
    display: block;
    transition: opacity .4s ease;
    background-color: #6d6e70;
    color: #fff;
    padding: 2px 0;
    border-radius: 2px 0 0 2px;
}
.timeline li .hover-text::after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 0, 0, 0);
	border-left-color: #000000;
	border-width: 10px;
	margin-top: -10px;
}
.timeline .hover-text.bg-blue::after { border-left-color: #1b3660 !important; }
.timeline .hover-text.bg-purple::after { border-left-color: #5e3d6d !important; }
.timeline .hover-text.bg-teal::after { border-left-color: #57bbb7 !important; }
.timeline .hover-text.bg-red::after { border-left-color: #91283b !important; }
.timeline .hover-text.bg-green::after { border-left-color: #4c7c5d !important; }
.timeline li .fa-users {
    border: 3px solid #1b3660;
}
.timeline li .fa-institution {
    border: 3px solid #5e3d6d;
    padding-left: 2px;
}
.timeline li .fa-puzzle-piece {
    border: 3px solid #4c7c5d;
    padding-left: 3px;
    font-size: 26px;
}
.timeline li .fa-bullhorn {
    border: 3px solid #91283b;
    font-size: 22px;
}
.timeline li .fa-newspaper-o {
    border: 3px solid #57bbb7;
    font-size: 22px;
}
.timeline>li>.timeline-item {
    background-color: #f6f9f6;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 10px 10px 5px 10px;
    overflow: hidden;
}
.timeline>li>.timeline-item .crop-wrapper {
    height: 90px;
    width: 90px;
    margin-right: 10px;
    margin-bottom: 5px;
    float: left;
}
@media ( max-width: 768px ) {
    .timeline>li>.timeline-item .crop-wrapper{
        float: none;
    }
}
.timeline>li>.timeline-item .crop-wrapper .crop {
    height: 100%;
    overflow: hidden;
    position: relative;
}
.timeline>li>.timeline-item .crop img {
    position: absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    height: auto;
    max-height: 90px;
    max-width: 90px;
}
.timeline>li>.timeline-item>.time,
.timeline>li>.timeline-item>.timeline-header {
    padding: 0; 
}
.timeline>li>.timeline-item>.timeline-header,
.timeline li .timeline-item p {
    margin-bottom: 4px;
    color: #999;
    line-height: 1.2;
}
.timeline>li>.timeline-item>.timeline-header {
    color: #404041;
    font-size: 14px;
}
.timeline>li>.timeline-item>.timeline-header a {
    font-size: 17px;
    margin-right: 5px;
    color: #000;
}
.timeline>li>.timeline-item>.timeline-header a:hover {
    color: #ed1c24;
}
.timeline h3, .timeline p, .timeline .tags, .timeline .actions {
    margin-left: 100px;
}
.timeline.no-thumb h3, .timeline.no-thumb p, .timeline.no-thumb .tags, .timeline.no-thumb .actions {
    margin-left: 0;
}
@media ( max-width: 768px ) {
    .timeline h3, .timeline p, .timeline .tags, .timeline .actions {
        margin-left: 0;
    }
}
.timeline>li>.timeline-item>.timeline-header a .icon {
    color: #999;
    font-size: 15px;
}
.timeline>li>.timeline-item>.btn {
    padding-top: 0;
    padding-bottom: 2px;
}
.timeline li .timeline-item p a {
    color: #6d6e70;
    border-bottom: 1px dotted #6d6e70;
    display: inline-block;
    line-height: 1em;
    padding-bottom: 2px;
}
.timeline li .timeline-item p a:hover {
    color: #404041;
}

/* ORGANIZATION MANAGEMENT PAGE --------------------------------------------- */
/* ORG PROFILE WIDGET ------------------------------------------------------- */
.organization-management .tab-pane {
    min-height: 200px;
}
.logo-uploader {
    margin-bottom: 10px;
}
.organization-management .crop-wrapper,
.logo-uploader .crop-wrapper {
    height: 200px;
    width: 200px;
    margin-right: 10px;
    margin-bottom: 5px;
    border: 1px solid #d2d6de;
}
.organization-management .crop-wrapper .crop,
.logo-uploader .crop-wrapper .crop{
    height: 100%;
    overflow: hidden;
    position: relative;
    border: 10px solid #fff;
    background-color: #fff;
}
.organization-management .crop img,
.logo-uploader .crop img {
    position: absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    height: auto;
    max-height: 100%;
    max-width: auto;
}
.logo-uploader .image-upload-and-crop-container .image-explorer-container{
    margin: 0;
    width: 120px;
    margin-bottom: 10px;
}
.logo-uploader .image-upload-and-crop-container .image-upload-field-replacement {
    background-color: #f4f4f4;
border-bottom-color: #ddd;
border-left-color: #ddd;
border-right-color: #ddd;
border-top-color: #ddd;
color: #444;
}
.logo-uploader  .image-explorer-container .image-explorer-image-view {
    width: 200px;
    height: 200px;
}
.logo-uploader .image-explorer-container .image-explorer-image-view .image-explorer-mask.rounded-square-mask {
    width: 120px;
    height: 120px;
}
.logo-uploader .image-explorer-container .image-explorer-image-view .image-explorer-mask {
    margin-left: -60px;
    margin-top: -60px;
}
.logo-uploader .image-explorer-container .image-explorer-scale-slider-wrapper,
.logo-uploader .image-explorer-container .image-explorer-scale-slider,
.logo-uploader .image-explorer-container .fd-slider {
    width: 150px;
}
.logo-uploader .image-explorer-container.empty .image-explorer-image-view[data-upload-prompt]:after {
    font-size: 16px;
    width: 80%;
    margin-left: -40%;
    padding: 48px 5px 0;
    top: 23%;
    background-size: 40px;
}
.organization-management .custom-tooltip .tooltip-inner {
    width: 180px;
    text-align: left;
}
.organization-management .border-top {
    border-top: 1px solid #f4f4f4;
    padding-top: 10px;
    margin-top: 10px;
}
.organization-management .border-right {
    border-right: 1px solid #f4f4f4;
    padding-right: 10px;
}
@media ( max-width: 1200px ) {
    .organization-management .border-right {
        border-right: none;
        padding-right: 0;
    }
}
.organization-management .dataTables_filter {
    margin-right: -12px;
}
/* CAPABILITIES WIDGET -------------------------------------------------------*/
.organization-management #capabilities .row {
/*    position: relative;*/
}
.organization-management #capabilities .well {
    text-align: center;
    height: 272px;
}
.organization-management #capabilities .well .crop-wrapper {
    height: 150px;
    width: 150px;
    margin: auto;
    margin-bottom: 5px;
}
.organization-management #capabilities .well h4 {
    word-wrap: break-word;
}
.organization-management #capabilities .well .actions {
    text-align: center;
    position: absolute;
    margin-left: -90px;
    left: 50%;
    bottom: 20px;
    width: 180px;
}
/* FILE MANAGER WIDGET -------------------------------------------------------*/
.organization-management .file_manager .well {
    text-align: center;
    height: 250px;
}
.organization-management .file_manager .well .crop-wrapper {
    height: 175px;
    width: 175px;
    margin: auto;
    margin-bottom: 5px;
}
.organization-management .table-bordered>tbody>tr>td {
    vertical-align: middle;
}
/* COMMUNITY MANAGEMENT ----------------------------------------------------- */
/* MEMBERSHIPS WIDGET ------------------------------------------------------- */
.community #memberships .widget-user {
    margin-bottom: 10px;
}
.community #memberships .widget-user .widget-user-header {
    filter: grayscale(80%) brightness(120%);
    -webkit-filter: grayscale(80%) brightness(120%);
    -moz-filter: grayscale(80%) brightness(120%);
    opacity: .9;
    transition: 1s ease;
    -webkit-transition: 1s ease; 
    -moz-transition: 1s ease;
}
.community #memberships .widget-user:hover .widget-user-header {
    filter: grayscale(0%) brightness(90%);
    -webkit-filter: grayscale(0%) brightness(90%);
    -moz-filter: grayscale(0%) brightness(90%);
    opacity: 1;
}
.community #memberships .widget-user .widget-user-image {
    position: absolute;
    top: 30px;
    left: 50%;
    margin-left: -60px;
    border: 2px solid #eaeaea;
    background-color: #fff;
}
.community #memberships .widget-user .widget-user-image>img {
    width: 120px;
    height: 120px;
    border: 4px solid #fff;
    background-color: #fff;
}
.community #memberships .widget-user .widget-user-desc {
    margin-top: -15px;
    margin-right: -15px;
    font-size: 20px;
}
.community #memberships .widget-user .widget-user-desc.label {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 10px;
    z-index: 100;
    position: absolute;
}
.community #memberships .widget-user .widget-user-desc a {
    color: #fff;
}
.community #memberships .widget-user .box-footer {
    padding-top: 40px;
    color: #6d6e70;
    height: 260px;
}
.community #memberships .widget-user .box-footer h3,
.community #memberships .widget-user .box-footer p {
    word-wrap: break-word;
}
.community #memberships .widget-user .box-footer h3 {
    font-size: 16px;
}
.community #memberships .widget-user .box-footer h3.community_name {
    line-height: 1.2;
}
.community #memberships .widget-user .box-footer p {
    margin-bottom: 0;
    line-height: 1.2;
    color: #999;
}
.community #memberships .widget-user .box-footer p>a {
    color: #6d6e70;
    border-bottom: 1px dotted #6d6e70;
    display: inline-block;
    line-height: 1em;
}
.community #my_communities .widget-user p.leader {
    font-size: 10px;
    margin-top: 5px;
}
.community #memberships .widget-user .box-footer p>a:hover {
    color: #404041;
}
.community #memberships .widget-user .metrics {
    position: absolute;
    bottom: 60px;
    left: 0;
    width: 100%;
}
.community #memberships .widget-user .metrics .description-block {
    margin: 5px 0;
    color: #6d6e70;
}
.community #memberships .widget-user .actions {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
}
.community .table-bordered>tbody>tr>td {
    vertical-align: middle;
}
/* EDIT NEWS MODAL ---------------------------------------------------------- */
#editNews .img-responsive {
    max-height: 200px;
}
/* PROBLEM CENTER PAGE ------------------------------------------------------ */
/* PROBLEMS WIDGETS --------------------------------------------------------- */
/*
Nothing special here :)
*/
/* MY PROFILE PAGE ---------------------------------------------------------- */
/* USER PROFILE WIDGET ------------------------------------------------------ */
.box.user-profile .profile-user-img {
    width: 120px;
    height: 120px;
}
.box.user-profile .list-group-unbordered>.list-group-item:first-of-type {
    border-top: none;
}
.box.user-profile .list-group-unbordered>.list-group-item:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: -10px;
}
/* USER SETTING TABS ------------------------------------------------------- */
.tab-content.user-settings .form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}

