<div id="main-content" class="container maincontent-container">
  <form name="create-capability-form" id="capabilityCreate" class="form-horizontal" enctype="multipart/form-data"
        method="POST">
    {{> product_create}}
  </form>
</div>