<footer class="footer navbar-inverse">
  <div class="container">
    <nav class="pull-left">
      <ul class="nav navbar-nav">
<!--        <li class="hidden-xs"><a href="/community">Communities</a></li>-->
<!--        <li class="hidden-xs"><a href="/organization">Organizations</a></li>-->
<!--        <li class=""><a href="/faq">FAQ</a></li>-->
        <li class=""><a href="/contact">Contact Us</a></li>
        <li><a href="/tos">Terms of Service</a></li>
		<li><a href="/privacy">Privacy Policy</a></li>
      </ul>
    </nav>
<div class="clearfix visible-xs"></div>
      <p class="copyright pull-right"><a href="https://www.ogsystems.com" target="_blank"><img src="{{strings.PublicStaticContentDirectoryFullPrefixPath}}/images/ogs-developedby-logo.png" alt="Developed by OGSystems"/></a></p>
  </div>
</footer>