<div id="join-form">
  <div class="row">
    <div class="col-md-12">
      <h3>Join GSM</h3>
      <hr/>
      GSM brings a number of benefits to your organization: you will have full access to existing Customer
      Challenges. If you have difficult problems you will have access to many innovative and creative capabilities
      providers who want nothing more than to solve your problem. If you have creative capabilities you will have access to
      Clients who have difficult problems and are looking for innovative and wide-ranging solutions. Joining is
      simple: fill out the form on the this page and click the "Send" button. Please make sure you have your DUNS
  	  Number available. Further guidance is available below to help you through the process. Join today!
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      {{> joinform }}
    </div>
    <div class="col-md-6">
      <h3>Sign Up Guidance</h3>
      <hr>
      Below is additional guidance you may need while completing the form you must supply to join GSM:
      <ul>
        <li>
          <b>Organization Role</b>: What role will your organization play in GSM? If you have difficult problems and are
          looking to Industry to tell you more about those innovative capabilities and show them working, then you're a
          Client. If you have creative capabilities and are looking for new ways in which to apply them, then you're a
          Provider. If you fit both of those descriptions, then you're both a Client and a Provider, so choose Both.
        </li>

        <li>
          <b>Point of Contact to Validate Identity</b>: When you request to join GSM, we will validate through the specified
          POC that you are an active employee or member of the specified organization to prevent identity fraud.
        </li>

        <li>
          <b>DUNS Number</b>: If you are a contractor or other non-government employee, this is the 9 digit identification of
          your company or organization. The DUNS Number was incorporated into the Federal Acquisition Regulation (FAR)
          in April 1998 as the Federal Government's contractor identification code for all procurement-related
          activities. If you do not have a DUNS Number, you can request one <a href="http://fedgov.dnb.com/webform">here</a>.  Don't know your
		  organization's DUNS number?  You can find it on the SAM.Gov database by following this <a href="https://www.sam.gov">link</a> and
		  click "Search Records."
        </li>

        <li>
          <b>NAICS Code</b>: The North American Industry Classification System (NAICS) was developed under the direction and
          guidance of the Office of Management and Budget (OMB) as the standard for use by Federal statistical agencies
          in classifying business establishments for the collection, tabulation, presentation, and analysis of
          statistical data describing the U.S. economy. For more information please visit:
          http://www.census.gov/eos/www/naics/
        </li>
      </ul>
    </div>
  </div>
</div>