<h1>Thank you for signing up!</h1>
<br><br>

Your organization will be contacted within 2 business days to complete the validation of your account. After that is completed, you will be emailed a link and prompted to set your password at that time.